<table class="table table-striped table-hover">
    <thead class="bg-primary text-white">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Capability</th>
            <th scope="col">Category</th>
            <th scope="col">Competency</th>
            <th scope="col">Level</th>
            <th scope="col">Title</th>
        </tr>
    </thead>
    <tbody>
        <% if (courses.length > 0) { %>
            <% var idx = 0; courses.forEach(e => { ++idx; %>
                <tr style="transform: rotate(0);">
                    <th scope="row">
                        <a href="/course/<%= e.id %>" class="stretched-link">
                            <%= idx %>
                        </a>
                    </th>
                    <td>Course</td>
                    <td><%= e.capabilityTitle %></td>
                    <td><%= e.categoryTitle %></td>
                    <td><%= e.competencyTitle %></td>
                    <td><%= e.phases.join("/") %></td>
                    <td><%= e.title %></td>
                </tr>
            <% }); %>
        <% } %>
    </tbody>
</table>