<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Accessibility Statement - RDFmapped</title>
    <meta name="description" content="Accessibility at RDFmapped">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Accessibility - RDFmapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta property="og:description" content="Accessibility at RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Accessibility Statement</h2>
                    <!-- <p>TBD</p> -->
                </div>
                <div class="block-content">
                    <%- accessibilityInfo %>
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>