<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Courses - RDFmapped</title>
    <meta name="description" content="Courses on RDFmapped">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Courses - RDFmapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta property="og:description" content="Courses on RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
    <script src="/js/infinite-scroll.pkgd.min.js"></script>
    <style>
        @media (min-width: 800px) {
            #infiniteCards {
                min-width: 438px;
            }
        }

        @media (max-width: 800px) {
             #infiniteCards {
                min-width: 400px;
            }
        }
    </style>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <%- include('./components/floating-back-button'); -%>
                <div class="block-heading" style="padding-top: 25px;">
                    <h2 class="text-info">Courses</h2>
                    <% if (pageData.data.length > 0) { %>
                    <p>Simply click on a card to open up a course's page.</p>
                    <% } else { %>
                    <p>We couldn't find any courses with these search parameters. <i
                            class="material-icons icon">sentiment_dissatisfied</i><br>Please consider adjusting the
                        filters.</p>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col" style="max-width: 25%;"></div>
                    <div class="col" id="infiniteCards">
                        <%- include('./components/results-list'); -%>
                    </div>
                    <div class="col" style="max-width: 25%;"></div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>