<!DOCTYPE html>
<html>

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - RDFmapped</title>
    <meta property="og:type" content="website">
    <meta name="description"
        content="Vitae Researcher Development Framework Mapped to LinkedIn Learning Courses & Videos">
    <meta property="og:title" content="Researcher Development Framework Mapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>

    <%- include('./components/header'); -%>

    <main class="page">
        <section class="clean-block features">
            <%- include('./components/search-options'); -%>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>