<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - RDFmapped</title>
    <meta property="og:type" content="">
    <meta name="description" content="Vitae Researcher Development Framework Mapped to Linkedin Learning">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>

</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;/img/tech/20.jpeg&quot;);color:rgba(0, 150, 169, 0.85);">
            <div class="text">
                <h2>Welcome to RDFmapped</h2>
                <p>Find LinkedIn Learning resources mapped against the Vitae Researcher Development Framework</br></br>Developed by King’s College London, Centre for Doctoral Studies</p><button onClick="document.getElementById('keywordSearchSection').scrollIntoView();" class="btn btn-outline-light btn-lg" type="button">Start Learning Now</button></div>
        </section>
        <section class="clean-block dark" id="keywordSearchSection">
            <div class="container">
                <p>&nbsp;</p>
                <%- include('./components/search-predictive'); -%>
            </div>
        </section>
        <section class="clean-block" id="searchOptionsSection">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">More search options</h2>
                </div>
                <div class="row">
                    <div class="col" style="max-width: 15%;"></div>
                    <div class="col" style="align-items: center;">
                        <p style="text-align: center;"><a class="btn btn-primary" href="/search" role="button">
                            Advanced Search
                        </a></p>
                    </div>
                    <div class="col" style="max-width: 15%;"></div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>