<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - RDF Mapped</title>
    <meta property="og:type" content="">
    <meta name="description" content="Vitae Researcher Development Framework Mapped to Linkedin Learning">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>

</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;/img/tech/20.jpeg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Vitae RDF Mapped</h2>
                <p>This website allows you to search for online learning material mapped to the Vita Researcher Development Framework's structure.</p><button onClick="document.getElementById('searchOptionsSection').scrollIntoView();" class="btn btn-outline-light btn-lg" type="button">Start Learning Now</button></div>
        </section>
        <section class="clean-block dark" id="searchOptionsSection">
            <p>&nbsp;</p>
            <%- include('./components/search-options'); -%>
        </section>
        <section class="clean-block" id="stepByStepSearchSection">
            <div class="container">
                <%- include('./components/search-stepbystep'); -%>
            </div>
        </section>
        <section class="clean-block dark" id="detailedSearchSection">
            <div class="container">
                <%- include('./components/search-detailed'); -%>
            </div>
        </section>
        <section class="clean-block" id="keywordSearchSection">
            <div class="container">
                <%- include('./components/search-predictive'); -%>
            </div>
        </section>
        <section class="clean-block dark" id="listSearchSection">
            <div class="container">
                <%- include('./components/search-listall'); -%>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>