<!DOCTYPE html>
<html>

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - RDFmapped</title>
    <meta property="og:type" content="website">
    <meta name="description"
        content="Vitae Researcher Development Framework Mapped to LinkedIn Learning Courses & Videos">
    <meta property="og:title" content="Researcher Development Framework Mapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta name="robots" content="noindex, nofollow">

    <%- include('./components/stylesheets'); -%>

    <%- include('./components/scripts'); -%>
</head>

<body>

    <%- include('./components/header'); -%>

    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Admin Log In</h2>
                    <p>Log in to the admin dashboard</p>
                </div>
                <form action="/admin/login" method="POST" id="submitLogin">
                    <% if (locals.errorMsg) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMsg %>
                    </div>
                    <% } %>
                    <div class="form-group">
                        <label for="email">Email</label><input class="form-control item" name="email" type="email"
                            id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label><input class="form-control" type="password" id="password"
                            name="password" required>
                    </div>
                    <!-- <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
                    </div> -->
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </form>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>