<!DOCTYPE html>
<html>

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Search - RDFmapped</title>
    <meta property="og:type" content="website">
    <meta name="description"
        content="Vitae Researcher Development Framework Mapped to LinkedIn Learning Courses & Videos">
    <meta property="og:title" content="Researcher Development Framework Mapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>

</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page landing-page">
        <section class="clean-block dark" id="searchInfoSection" style="padding-bottom: 15px;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Advanced Search</h2>
                    <p>There are two options available to help you search for resources.</p>
                </div>
            </div>
        </section>
        <section class="clean-block" id="keywordSearchSection">
            <div class="container">
                <%- include('./components/search-predictive'); -%>
            </div>
        </section>
        <section class="clean-block dark" id="stepByStepSearchSection">
            <div class="container">
                <%- include('./components/search-stepbystep'); -%>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>