<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Submit - RDFmapped</title>
    <meta name="description" content="Submit a LinkedIn Learning Course/Video to RDFmapped">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Submit - RDFmapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta property="og:description" content="Submit a LinkedIn Learning Course/Video to RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>

    <script>
        $(document).ready(() => {
            $("#submitForm").submit((event) => {
                const recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    document.getElementById("pleaseCompleteCaptcha").hidden = false;
                    return;
                };
                if (document.getElementById("submissionEmail").value === "") {
                    document.getElementById("hadEmail").hidden = true;
                } else {
                    document.getElementById("weWillReview").hidden = true;
                }
                document.getElementById("form-inner").hidden = true;
                document.getElementById("form-after").hidden = false;
            });
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Submit Content</h2>
                    <p>Here you can submit a new course or video that will be featured on the RDFmapped website.</p>
                </div>
                <form action="/submit" method="POST" target="dummyIFrame" id="submitForm">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div id="form-inner">
                        <fieldset class="form-group">
                            <h5 style="padding-bottom: 6px;">Type of content</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio11"
                                    value="COURSE" required>
                                <label class="form-check-label" for="inlineRadio11">Course</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio12"
                                    value="VIDEO" required>
                                <label class="form-check-label" for="inlineRadio12">Video</label>
                            </div>
                        </fieldset>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Title
                            <input type="text" class="form-control" id="contentTitle" name="title" required>
                            <small id="titleHelp" class="form-text text-muted">This must match the course/video title on
                                LinkedIn Learning</small>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Hyperlink / URL
                            <input type="text" class="form-control" id="contentHyperlink" name="hyperlink" required>
                            <small id="hyperlinkHelp" class="form-text text-muted">Please paste in the LinkedIn Learning
                                link of the course</small>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Your email address (optional)
                            <input type="email" class="form-control" id="submissionEmail" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll send you a link where you can track
                                the status of your submission.</small>
                        </div>

                        <div class="alert alert-danger" role="alert" id="pleaseCompleteCaptcha" hidden>
                            Please complete the reCAPTCHA
                        </div>

                        <div class="g-recaptcha" data-sitekey="<%= reCAPTCHASiteKey %>" style="padding-bottom: 20px;"></div>

                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                    <div id="form-after" hidden>
                        <label>Thank you very much for your submission.</label>
                        <label id="weWillReview">We will review it shortly.</label>
                        <label id="hadEmail">Since you provided an email address, you'll shortly receive a link where
                            you can track the status of your submission.<br><br>If you don't see the e-mail within a few minutes, please also check your spam folder. If you still can't find it, please <a href="/contact">contact us</a>.</label>
                    </div>
                </form>
            </div>
            <%- include('./components/dummy-iframe'); -%>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>