<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Submit - RDFmapped</title>
    <meta property="og:type" content="">
    <meta name="description" content="Vitae Researcher Development Framework Mapped to Linkedin Learning">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>

    <script>
        const contactSubmit = () => {
            const form = document.getElementById("submitForm");
            if (document.getElementById("submitPassword").value === "") {
                document.getElementById("hadPassWord").hidden = true;
            } else {
                document.getElementById("weWillReview").hidden = true;
            }
            document.getElementById("form-inner").hidden = true;
            document.getElementById("form-after").hidden = false;
        };
        $(document).ready(() => {
                $('#stepByStepSelectCapability').select2();
                $('#stepByStepSelectCategory').select2();
                $('#stepByStepSelectCompetency').select2();
                $('#stepByStepSelectPhase').select2();
            });
            $.fn.select2.defaults.set("theme", "bootstrap");
            localStorage.setItem("categoriesByParents", "<%= JSON.stringify(categoriesByParents) %>");
            localStorage.setItem("competenciesByParents", "<%= JSON.stringify(competenciesByParents) %>");
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            const capabilityChange = ((obj) => {
                const val = obj.value;
                const optPlaceholder = document.createElement('option');
                optPlaceholder.value = "-1";
                optPlaceholder.innerHTML = "Subdomain";
                optPlaceholder.selected = true;
                optPlaceholder.disabled = true;
                const optPlaceholder2 = document.createElement('option');
                optPlaceholder2.value = "-1";
                optPlaceholder2.innerHTML = "Competency";
                optPlaceholder2.selected = true;
                optPlaceholder2.disabled = true;
                if (val === "-1") {
                    $('#stepByStepSelectCategory')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder);
                    document.getElementById("stepByStepSelectCategory").disabled = true;
                    $('#stepByStepSelectCompetency')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder2);
                    document.getElementById("stepByStepSelectCompetency").disabled = true;
                    return;
                } else {
                    $('#stepByStepSelectCompetency')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder2);
                    document.getElementById("stepByStepSelectCompetency").disabled = true;
                    const categoriesByParents = JSON.parse(decodeHtml(localStorage.getItem("categoriesByParents")));
                    const matchingCategories = categoriesByParents[val];
                    $('#stepByStepSelectCategory').removeAttr("disabled");
                    $('#stepByStepSelectCategory')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder);
                    matchingCategories.forEach(e => {
                        const opt = document.createElement('option');
                        opt.value = e.id.toString();
                        opt.innerHTML = e.title;
                        $('#stepByStepSelectCategory').append(opt);
                    });
                }
            });
            const categoryChange = ((obj) => {
                const val = obj.value;
                const optPlaceholder = document.createElement('option');
                optPlaceholder.value = "-1";
                optPlaceholder.innerHTML = "Competency";
                optPlaceholder.selected = true;
                optPlaceholder.disabled = true;
                if (val === "-1") {
                    $('#stepByStepSelectCompetency')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder);
                    document.getElementById("stepByStepSelectCompetency").disabled = true;
                    return;
                } else {
                    const categoriesByParents = JSON.parse(decodeHtml(localStorage.getItem("competenciesByParents")));
                    const matchingCategories = categoriesByParents[val];
                    $('#stepByStepSelectCompetency').removeAttr("disabled");
                    $('#stepByStepSelectCompetency')
                        .find('option')
                        .remove()
                        .end()
                        .append(optPlaceholder);
                    matchingCategories.forEach(e => {
                        const opt = document.createElement('option');
                        opt.value = e.id.toString();
                        opt.innerHTML = e.title;
                        $('#stepByStepSelectCompetency').append(opt);
                    });
                }
            });
            $(document).ready(() => {
                    document.forms.submitForm.type.forEach(radio => {
                    radio.addEventListener('change', () => {
                        document.forms.submitForm.action = ("/submit/" + document.forms.submitForm.type.value);
                    })
                });
                });
    </script>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Submit Content</h2>
                    <p>Here you can submit a new course or video that will be featured on the RDFmapped website.</p>
                </div>
                <form action="/submit" method="POST" target="dummyIFrame" onsubmit="contactSubmit();" id="submitForm">
                    <div id="form-inner">
                        <fieldset class="form-group">
                            <h5 style="padding-bottom: 6px;">Type of content</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio11" value="course" required>
                                <label class="form-check-label" for="inlineRadio11">Course</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="inlineRadio12" value="video" required>
                                <label class="form-check-label" for="inlineRadio12">Video</label>
                            </div>
                        </fieldset>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            <h5 style="padding-bottom: 6px;">RDF Parameters</h5>
                            <select class="custom-select" name="capability" id="stepByStepSelectCapability" onchange="capabilityChange(this)" required>
                                <option value="-1" selected disabled>Domain</option>
                                <% if (capabilities.length > 0) { %>
                                <% capabilities.forEach(e => { %>
                                <option value="<%= e.id %>"><%= e.title %></option>
                                <% }); %>
                                <% } %>
                            </select>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            <select class="custom-select" name="category" id="stepByStepSelectCategory" onchange="categoryChange(this)" disabled required>
                                <option value="-1" selected disabled>Subdomain</option>
                                <% if (categories.length > 0) { %>
                                <% categories.forEach(e => { %>
                                <option value="<%= e.id %>"><%= e.title %></option>
                                <% }); %>
                                <% } %>
                            </select>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            <select class="custom-select" name="competency" id="stepByStepSelectCompetency" disabled required>
                                <option value="-1" selected disabled>Descriptor</option>
                                <% if (competencies.length > 0) { %>
                                <% competencies.forEach(e => { %>
                                <option value="<%= e.id %>"><%= e.title %></option>
                                <% }); %>
                                <% } %>
                            </select>
                        </div>
                        <fieldset class="form-group">
                            Phases<br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="phases" id="phases1" value="1">
                                <label class="form-check-label" for="phases1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="phases" id="phases2" value="2">
                                <label class="form-check-label" for="phases2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="phases" id="phases3" value="3">
                                <label class="form-check-label" for="phases3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="phases" id="phases4" value="4">
                                <label class="form-check-label" for="phases4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="phases" id="phases5" value="5">
                                <label class="form-check-label" for="phases5">5</label>
                            </div>
                        </fieldset>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Title
                            <input type="text" class="form-control" id="contentTitle" name="title" required>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Hyperlink / URL
                            <input type="text" class="form-control" id="contentHyperlink" name="hyperlink" required>
                            <small id="hyperlinkHelp" class="form-text text-muted">Please paste in the Linkedin Learning link of the course</small>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Your email address (optional)
                            <input type="email" class="form-control" id="submissionEmail" name="email">
                            <small id="emailHelp" class="form-text text-muted">If you wish to be contacted once we have reviewed your submission.</small>
                        </div>
                        <div class="row" style="padding-bottom: 16px; padding-left: 15px; padding-right: 15px;">
                            Submission password (optional)
                            <input type="password" class="form-control" id="submitPassword" name="password">
                            <small id="submitPassword" class="form-text text-muted">If you do not have a content submission password, just leave this box empty and your suggested content will be reviewed by a member of staff shortly.</small>
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </div>
                    <div id="form-after" hidden>
                        <label>Thank you very much for your submission.</label>
                        <label id="weWillReview">We will review it shortly.</label>
                        <label id="hadPassWord">Since you provided a content submission password, your submitted course / video will automatically be featured on the site within a couple of minutes (supposing that the password provided was correct). <br>Feel free to do a <a href="/search">search</a> by its title to see the result.</label>
                    </div>
                </form>
            </div>
            <%- include('./components/dummy-iframe'); -%>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>