<!DOCTYPE html>
<html>

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Submission - RDFmapped</title>
    <meta property="og:type" content="website">
    <meta name="description"
        content="Vitae Researcher Development Framework Mapped to LinkedIn Learning Courses & Videos">
    <meta property="og:title" content="Researcher Development Framework Mapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Submission Details</h2>
                    <!-- <p>Frequently Asked Questions</p> -->
                </div>
                <div class="block-content">
                    <% if (adminUse) { %>
                        <div class="row" id="adminTools" style="padding-bottom: 25px;">
                            <div class="col">Admin tools:</div>
                            <div class="col"><a class="btn btn-outline-primary" href="/admin" role="button">Back to admin dashboard</a></div>
                            <% if (submission.status === "published") { %>
                            <div class="col"><a class="btn btn-secondary" href="#" role="button">Map to RDF params</a> <br>Already published</div>
                            <% } else { %>
                            <div class="col"><a class="btn btn-primary" href="/submission/<%= id %>/map" role="button">Map to RDF params</a></div>
                            <% } %>
                            <% if (submission.data.capabilityTitle === undefined) { %>
                                <div class="col"><a class="btn btn-secondary" href="#" role="button">Approve & publish</a> <br>Only after mapped</div>
                            <% } else if (submission.status === "published") { %>
                                <div class="col"><a class="btn btn-secondary" href="#" role="button">Approve & publish</a> <br>Already published</div>
                            <% } else { %>
                                <div class="col"><a class="btn btn-success" href="/submission/<%= id %>/publish" role="button">Approve & publish</a></div>
                            <% } %>
                            <% if (submission.status === 'rejected') { %>
                            <div class="col"><a class="btn btn-secondary" href="#" role="button">Reject</a> <br>Already rejected</div>
                            <% } else if (submission.status === "published") { %>
                            <div class="col"><a class="btn btn-secondary" href="#" role="button">Reject</a> <br>Already published</div>
                            <% } else { %>
                            <div class="col"><a class="btn btn-danger" href="/submission/<%= id %>/reject" role="button">Reject</a></div>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="row" style="margin: 26.5;">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= submission.data.title %></h5>
                                    <h6 class="card-subtitle mb-2 text-muted" style="padding-bottom: 10px !important;">
                                        Learning content type: <%= submission.data.type.toLowerCase() %></h6>
                                    <% if (submission.data.categoryTitle) { %>
                                        <p class="card-text">Domain: <%= submission.data.capabilityTitle %></p>
                                        <p class="card-text">Subdomain: <%= submission.data.categoryTitle %></p>
                                        <p class="card-text">Descriptor: <%= submission.data.competencyTitle %></p>
                                        <p class="card-text">Phase:
                                            <% if (typeof submission.data.phases === "object") { %>
                                            <%= submission.data.phases.join("/") %>
                                            <% } else { %>
                                            <%= submission.data.phases %>
                                            <% } %>
                                        </p>
                                    <% } %>

                                    <p class="card-text">URL: <i><a href="<%= submission.data.hyperlink %>"
                                                target="_blank"
                                                rel="noopener noreferrer"><%= submission.data.hyperlink %></a></i></p>
                                    <p class="card-text">
                                        <% if (submission.data.urn) { %>
                                        URN: <%= submission.data.urn %>
                                        <% } else { %>
                                        URN: <i>unknown</i>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Submission Info</h5>

                                    <% if (submission.status === "processing") { %>
                                    <p class="card-text">STATUS<br><span class="badge badge-pill badge-secondary"
                                            style="background-color: grey;">processing</span><br>
                                        <small><i>The automated system is processing the request..</i></small>
                                    </p>
                                    <% } else if (submission.status === "pending") { %>
                                    <p class="card-text">STATUS<br><span class="badge badge-pill badge-light"
                                            style="background-color: yellowgreen;">pending</span><br>
                                        <small>
                                            <i>The automated system successfully verified the integrity of the
                                                submission. Now a member of our team will map to the RDF parameters &
                                                publish the material.</i>
                                        </small>
                                    </p>
                                    <% } else if (submission.status === "published") { %>
                                    <p class="card-text">STATUS<br><span
                                            class="badge badge-pill badge-success">published</span><br>
                                        <small>
                                            <i>Your submitted content has been approved & published! You can now <a
                                                    href="/search">search for it</a> on the RDFmapped website.</i>
                                        </small>
                                    </p>
                                    <% } else if (submission.status === "failed") { %>
                                    <p class="card-text">STATUS<br><span class="badge badge-pill badge-dark"
                                            style="background-color: orangered;">failed</span><br>
                                        <small>
                                            <i>Our automated system could not verify the submitted content. This could
                                                be because of a typo in the URL or title.<br>Don't worry, a member of
                                                our team will review your submission shortly.</i>
                                        </small>
                                    </p>
                                    <% } else if (submission.status === "rejected") { %>
                                    <p class="card-text">STATUS<br><span class="badge badge-pill badge-danger">rejected</span><br>
                                        <small>
                                            <i>Your submission has been rejected by a member of our team.<br>If you think this should not have happened, please <a href="/contact">get in touch with us</a>.</i>
                                        </small>
                                    </p>
                                    <% } %>

                                    <p class="card-text">SUBMITTED BY <br><i
                                            style="color: #0096a9;"><%= submission.submitter %></i></p>
                                    <p class="card-text">SUBMISSION DATE <br><i><%= submission.data.timestamp %></i></p>
                                    <% if (submission.data.publishedAt) { %>
                                    <p class="card-text">PUBLISHED AT<br><i><%= submission.data.publishedAt %></i></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>