<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/google-analytics'); -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Support - RDFmapped</title>
    <meta name="description" content="Frequently Asked Questions & Answers">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Support - RDFmapped">
    <meta property="og:site_name" content="RDFmapped">
    <meta property="og:description" content="Frequently Asked Questions & Answers">
    <meta name="robots" content="index, follow">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Support</h2>
                    <p>Frequently Asked Questions</p>
                </div>
                <div class="block-content">
                    <% if (faqs.length > 0) { %>
                    <% faqs.forEach(e => { %>
                    <div class="faq-item">
                        <h4 class="question"><%- e.question %></h4>
                        <div class="answer" style="color: #212529; opacity: 0.9;">
                            <p><%- e.answer %></p>
                        </div>
                    </div>
                    <% }); %>
                    <% } %>
                    <div class="faq-item">
                        <div class="answer" style="color: #212529; opacity: 0.9;">
                            <i>For any other questions please <a href="/contact"><b>contact us</b></a>.</i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>