<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Videos - RDF Mapped</title>
    <meta property="og:type" content="">
    <meta name="description" content="Vitae Researcher Development Framework Mapped to Linkedin Learning">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Videos</h2>
                    <% if (pageData.data.length > 0) { %>
                    <p>Simply click on a row to open up a video's page.</p>
                    <% } else { %>
                    <p>We couldn't find any videos with these search parameters. <i
                            class="material-icons icon">sentiment_dissatisfied</i><br>Please consider adjusting the filters.</p>
                    <% } %>
                </div>
                <%- include('./components/table'); -%>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>